@model IEnumerable<VisionCollegeDSEDMarkingPortal.Models.MarkingScheduleTable>

@{
    ViewBag.Title = "index";
}

<h2>index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Excellent100)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExcelentMark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adequate80)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdequateMark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Poor60)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PoorMark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NotMet0)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NotMetMark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Percentage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Excellent100)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExcelentMark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adequate80)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdequateMark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Poor60)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PoorMark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NotMet0)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NotMetMark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Percentage)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MarkingScheduleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MarkingScheduleID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MarkingScheduleID })
        </td>
    </tr>
}

</table>
