@model VisionCollegeDSEDMarkingPortal.Models.ViewModels.ResultVM
@{
    ViewBag.Title = "ResultView";
}

<h2>Results</h2>

<h2 class="text-primary">@ViewBag.ModuleDeets</h2>

<h3>@ViewBag.StudentDeets</h3>

<h3 class="text-primary">@Html.DisplayNameFor(m => m.MyResults.RSummary)</h3>


<dd>
    @Html.DisplayFor(model => model.MyResults.RSummary)
</dd>

<h3 class="text-primary">Marking Overview</h3>

<table class="table table-bordered">

    @*For each title in my module i want to display the list of comments attached to that titleID*@
    @foreach (var myItem in Model.MyOverviewTitles)
    {
        <tr>
            <th>Achieved</th>
            <td>@Html.LabelFor(m => m.MyOverviewTitles, myItem.myOverviewTitle)</td>
        </tr>
                <tr>
                    <td>

                        @for (int i = 0; i < Model.MyResults.myAchievedList.Count; i++)
                        {
                            if (myItem.myOverviewTitle == Model.MyResults.myAchievedList[i].OverviewTitle)
                            {
                                <p>@Html.DisplayFor(c => c.MyResults.myAchievedList[i].MyAchieved)</p>
                            }
                        }


                    </td>
                    <td>
                        @for (int i = 0; i < Model.MyResults.myAchievedList.Count; i++)
                        {
                            if (myItem.myOverviewTitle == Model.MyResults.myAchievedList[i].OverviewTitle)
                            {
                                <p>@Html.DisplayFor(c => c.MyResults.myAchievedList[i].MyComment)</p>
                            }
                        }
                    </td>
                </tr>

    }
</table>

<h3 class="text-primary">Mark Achieved &nbsp;&nbsp; &nbsp;<span style="color:red">@Html.DisplayFor(m => m.MyResults.RTotal) / 100</span></h3>

<h3 class="text-primary">Rubric Table</h3>

@*I created partial views for the rubric table so I can reuse these in the create, edit and result views*@
<table class="table table-bordered">
    @Html.Partial("_RubricResultsRow1")
    @*this is my code for the rubric table row 1*@


    @foreach (var item in Model.MyTableRow1)
    {
        <tr>
            <td align="center" width="14%">
              
            </td>
            <td width="21%" style="@item.ExcellentBGColour"align="center">
                @Html.DisplayFor(t => item.ExcellentMark)
            </td>
            <td width="21%" style="@item.AdequateBGColour"align="center">
                @Html.DisplayFor(t => item.AdequateMark)
            </td>
            <td width="21%" style="@item.PoorBGColour"align="center">
                @Html.DisplayFor(t => item.PoorMark)
            </td>
            <td width="21%" style="@item.NotMetBGColour"align="center">
                @Html.DisplayFor(t => item.NotMetMark)
            </td>
        </tr>

        <tr>
            <td style="text-align:center; font-weight:bold">% of Grade</td>
            <td style="@item.ExcellentBGColour" align="center"><strong>Excellent 100%</strong> </td>
            <td style="@item.AdequateBGColour" align="center"><strong>Adequate 80%</strong></td>
            <td style="@item.PoorBGColour" align="center"><strong>Poor 60%</strong></td>
            <td style="@item.NotMetBGColour" align="center"><strong>Not Met 0%</strong></td>
        </tr>

    }


</table>


<table class="table table-bordered">
    @Html.Partial("_RubricResultsRow2")

    @*this is my code for the rubric table row 2*@
    @foreach (var item in Model.MyTableRow2)
    {
        <tr>
            <td align="center" width="14%"></td>
            <td width="21%" style="@item.ExcellentBGColour"align="center">
                @Html.DisplayFor(t => item.ExcellentMark)
            </td>
            <td width="21%" style="@item.AdequateBGColour"align="center">
                @Html.DisplayFor(t => item.AdequateMark)
            </td>
            <td width="21%" style="@item.PoorBGColour"align="center">
                @Html.DisplayFor(t => item.PoorMark)
            </td>
            <td width="21%" style="@item.NotMetBGColour"align="center">
                @Html.DisplayFor(t => item.NotMetMark)
            </td>
        </tr>

        <tr>
            <td style="text-align:center; font-weight:bold">% of Grade</td>
            <td style="@item.ExcellentBGColour" align="center"><strong>Excellent 100%</strong> </td>
            <td style="@item.AdequateBGColour" align="center"><strong>Adequate 80%</strong></td>
            <td style="@item.PoorBGColour" align="center"><strong>Poor 60%</strong></td>
            <td style="@item.NotMetBGColour" align="center"><strong>Not Met 0%</strong></td>
        </tr>

    }


</table>



<table class="table table-bordered">
    @Html.Partial("_RubricResultsRow3")

    @*this is my code for the rubric table row3*@

    @foreach (var item in Model.MyTableRow3)
    {
        <tr>
            <td align="center" width="14%"></td>
            <td width="21%" style="@item.ExcellentBGColour"align="center">
                @Html.DisplayFor(t => item.ExcellentMark)
            </td>
            <td width="21%" style="@item.AdequateBGColour"align="center">
                @Html.DisplayFor(t => item.AdequateMark)
            </td>
            <td width="21%" style="@item.PoorBGColour"align="center">
                @Html.DisplayFor(t => item.PoorMark)
            </td>
            <td width="21%" style="@item.NotMetBGColour"align="center">
                @Html.DisplayFor(t => item.NotMetMark)
            </td>
        </tr>

        <tr>
            <td style="text-align:center; font-weight:bold">% of Grade</td>
            <td style="@item.ExcellentBGColour" align="center"><strong>Excellent 100%</strong> </td>
            <td style="@item.AdequateBGColour" align="center"><strong>Adequate 80%</strong></td>
            <td style="@item.PoorBGColour" align="center"><strong>Poor 60%</strong></td>
            <td style="@item.NotMetBGColour" align="center"><strong>Not Met 0%</strong></td>
        </tr>

    }

</table>



<table class="table table-bordered">
    @Html.Partial("_RubricResultsRow4")

    @*this is my code for the rubric table Row 4*@

    @foreach (var item in Model.MyTableRow4)
    {
        <tr>
            <td align="center" width="14%"></td>
            <td width="21%" style="@item.ExcellentBGColour"align="center">
                @Html.DisplayFor(t => item.ExcellentMark)
            </td>
            <td width="21%" style="@item.AdequateBGColour"align="center">
                @Html.DisplayFor(t => item.AdequateMark)
            </td>
            <td width="21%" style="@item.PoorBGColour"align="center">
                @Html.DisplayFor(t => item.PoorMark)
            </td>
            <td width="21%" style="@item.NotMetBGColour"align="center">
                @Html.DisplayFor(t => item.NotMetMark)
            </td>
        </tr>

        <tr>
            <td style="text-align:center; font-weight:bold">% of Grade</td>
            <td style="@item.ExcellentBGColour" align="center"><strong>Excellent 100%</strong> </td>
            <td style="@item.AdequateBGColour" align="center"><strong>Adequate 80%</strong></td>
            <td style="@item.PoorBGColour" align="center"><strong>Poor 60%</strong></td>
            <td style="@item.NotMetBGColour" align="center"><strong>Not Met 0%</strong></td>
        </tr>
    }

</table>



<table class="table table-bordered">
    @Html.Partial("_RubricResultsRow5")

    @*this is my code for the rubric table row 5*@
    @foreach (var item in Model.MyTableRow5)
    {
        <tr>
            <td align="center" width="14%"></td>
            <td width="21%" style="@item.ExcellentBGColour" align="center">
                @Html.DisplayFor(t => item.ExcellentMark)
            </td>
            <td width="21%" style="@item.AdequateBGColour" align="center">
                @Html.DisplayFor(t => item.AdequateMark)
            </td>
            <td width="21%" style="@item.PoorBGColour" align="center">
                @Html.DisplayFor(t => item.PoorMark)
            </td>
            <td width="21%" style="@item.NotMetBGColour"align="center">
                @Html.DisplayFor(t => item.NotMetMark)
            </td>
        </tr>

        <tr>
            <td style="text-align:center; font-weight:bold">% of Grade</td>
            <td style="@item.ExcellentBGColour" align="center"><strong>Excellent 100%</strong> </td>
            <td style="@item.AdequateBGColour" align="center"><strong>Adequate 80%</strong></td>
            <td style="@item.PoorBGColour" align="center"><strong>Poor 60%</strong></td>
            <td style="@item.NotMetBGColour" align="center"><strong>Not Met 0%</strong></td>
        </tr>
    }
</table>
<td><button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("EditMarkingView", "StudentDetails", new { id = Model.ModuleID, studentId = Model.StudentID })'">Edit</button></td>
<td><button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Details", "StudentDetails", new { id = Model.StudentID })'">Back to @ViewBag.StudentDeets Details</button></td>
<td><button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("index", "StudentDetails")'">Back to Student List</button></td>

