@model VisionCollegeDSEDMarkingPortal.Models.ModuleDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ModuleDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ModuleCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModuleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModuleDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleDescription)
        </dd>
@*
    <dt>
        @Html.DisplayNameFor(model => model.AssignmentFile)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.AssignmentFile)
    </dd>*@

       

    </dl>
    <table class="table table-bordered">

        @*For each title in my module i want to display the list of comments attached to that titleID*@
        @foreach (var myItem in Model.MarkingScheduleOverviews)
            {
            <tr>
                <th>Achieved</th>
                <td>@Html.LabelFor(m => m.MarkingScheduleOverviews, myItem.MarkingOverviewTitle)</td>
            </tr>
                <tr>
                    <td>
                        @for (int i = 0; i < Model.MarkingScheduleOverviews.Count; i++)
                        {
                            //if (myItem.myOverviewTitle == Model.MyResults.myAchievedList[i].OverviewTitle)
                            //{
                                <p>@Html.DisplayFor(c => c.MarkingScheduleOverviews)</p>
                            //}
                        }
                    </td>
                </tr>

        }
    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ModuleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
